[ req ]
default_bits       = 2048
distinguished_name = req_distinguished_name

[ req_distinguished_name ]
countryName                 = Country Name (2 letter code)
countryName_default         = US
stateOrProvinceName         = State or Province Name (full name)
stateOrProvinceName_default = California
localityName                = Locality Name (eg, city)
localityName_default        = Burbank
organizationName            = Organization Name (eg, company)
organizationName_default    = Jon Wolski
commonName                  = Common Name (e.g. server FQDN or YOUR name)
commonName_max              = 64
commonName_default          = lvh.me

[ v3_ca ]
subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid:always,issuer
basicConstraints = critical,CA:true
nameConstraints = critical,@permitted_names
keyUsage = critical, digitalSignature, cRLSign, keyCertSign


[ permitted_names ]
permitted;DNS.1 = localhost
permitted;DNS.2 = .localhost
permitted;DNS.3 = lvh.me
permitted;DNS.4 = .lvh.me
permitted;DNS.5 = .marvelstudios.loc
permitted;DNS.6 = .marvelstudios.com
permitted;DNS.7 = .mpl.studio.disney.com

