# This is Git's per-user configuration file.
[core]
	autocrlf = input
	excludesfile = ~/.gitignore_global
[credential]
	helper = osxkeychain
# check that anything we're getting is complete and sane on a regular basis
[transfer]
  fsckobjects = true
[fetch]
  fsckobjects = true
[receive]
  fsckObjects = true
[include]
  path = ~/.dotfiles/git/aliases.inc
  path = /Users/wolsj006/.dotfiles/git/gitconfig.work.inc
  path = /Users/Jonathan.K.Wolski/.dotfiles/git/gitconfig.work.inc
  path = /Users/jon/.dotfiles/git/gitconfig.personal.inc
  path = /home/jon/.dotfiles/git/gitconfig.personal.inc
[branch]
	autosetuprebase = always
[push]
	default = simple
[init]
	templatedir = ~/.dotfiles/git/template/
	defaultBranch = main
[rebase]
	autosquash = true
[alias]
	annotate = blame
	ann = blame
	serve = daemon --verbose --export-all --base-path=.git --reuseaddr --strict-paths .git/
  # this can be removed once everything is on git 2.28
  # cf. https://www.hanselman.com/blog/easily-rename-your-git-default-branch-from-master-to-main
	new = !git init && git symbolic-ref HEAD refs/heads/main
[commit]
	gpgsign = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[tag]
	gpgSign = true
