# This is Git's per-user configuration file.
[core]
	autocrlf = input
	excludesfile = ~/.gitignore_global
[credential]
	helper = osxkeychain
# check that anything we're getting is complete and sane on a regular basis
[transfer]
  fsckobjects = true
[fetch]
  fsckobjects = true
[receive]
  fsckObjects = true
[include]
  path = /Users/jonwolski/.dotfiles/git/gitconfig.work.inc
  path = /Users/jon/.dotfiles/git/gitconfig.personal.inc
  path = /home/jon/.dotfiles/git/gitconfig.personal.inc
[branch]
	autosetuprebase = always
[push]
	default = simple
[init]
	templatedir = ~/.dotfiles/git/template/
[rebase]
	autosquash = true
[alias]
	annotate = blame
	ann = blame
[commit]
	gpgsign = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
